@media (max-width: 1430px) {
	#back-top {
		left:auto;
		right:1.8%;
		margin-left:0;
	}
}
@media (max-width: 1280px) {
	#back-top {
		right:17px;
		bottom: 80px;
	}
}
@media (max-width: 1199px) {
	#back-top {
		display:none !important;
	}
}
/**************************************************/
@media (min-width: 1200px) {	
	.box-category > ul li a, .box-content .afine li a, .box-content .info li a, .box-content .info-list li a, .box-content .acount li a, .manufacturer-list ul li a{   
		margin: 14px 10px 17px 30px;
	}	
	.box-content .acount  li a, .box-content .afine  li a{
		margin: 0;
	}
	.box-content .acount  li , .box-content .afine  li {
		padding: 14px 10px 17px 30px;
	}
	li.parent> i {	
		right:30px;
	}
	.box-category > ul > li.parent > i {
		right: 30px;
	}
	.container {
		width:1200px;
		}	
	.table th, .table td {
		padding:20px;
		}
	.related {
		padding:0 50px;
	}
	header .links a {
		padding-left:29px;
		padding-right:28px;
	}
	/***/
	.cameraContents .camera_caption  h1 {
		font-size:75px;
		line-height:64px;
		margin-bottom:9px;
		}
	.cameraContents .camera_caption  h2 {
		font-size:45px;
		line-height:43px;	
		}
	.cameraContents .camera_caption  h3 {
		font-size:29px;
		line-height:29px;
		margin-bottom:15px;
		}
	.cameraContents .camera_caption > div > span {
		font-size: 18px;
		line-height: 22px;
		padding: 16px 29px 19px;
	}
	/**/
	.banner .s-desc h1{
		font-size:72px;
		line-height:72px;
		}
	.banner>div:first-child .s-desc h2{
		margin-top:5px;
		}
	.banner .s-desc span h1{
		margin-bottom:8px;
		}
	.banner .s-desc span h1{
		font-size:61px;
		line-height:61px;
		}
	.banner .s-desc small h1{
		font-size:33px;
		line-height:33px;
		}
	.banner .s-desc h2{
		font-size:34px;
		line-height:35px;
		}
	.banner .s-desc small h2{
		font-size:26px;
		line-height:22px;
		margin-bottom:7px;
		}
	.banner .s-desc p{
		font-size:13px;
		line-height:19px;
		}
	/**/
}
/******************************************************/
@media (max-width: 979px) {
	aside .box.category{
		display:none;
	}
	.product-filter .product-compare {
		margin-top:2px;
		}	
	/************************* table wishlist ****************/
	.wishlist-product .table.table-bordered {
		border:0;
		}
	.wishlist-product .table thead{
		display:none;
		}
	.wishlist-product .table tbody{
		display:block;
		border:0
		}
	.wishlist-product .table tr {
		display:block;
		margin-bottom:30px;
		border:1px solid #d0d0d0;
		border-bottom:0;
		}
	.wishlist-product .table td {
		display:block;
		border:0;
		border-bottom:1px solid #d0d0d0;
		}
	#menu {display:none;}
	#menu-gadget {
		display:block;
		margin-top:70px;
		margin-bottom:0;
	}
	.top_color .phone{
		display:none;
	}
	.menu-top .phone{
		display:block;
		position:absolute;
		left:15px;
		top:84px;
		color:#777;
	}
	.menu-top .phone i{
		color:#333;
	}
	.menu-top .phone br{
		display:none;		
	}
	#search {
		top: 87px;
		right:15px;
	}
	#search input{
		background:#edecec;
	}
}
/******************************************************/
@media (min-width: 768px) and (max-width: 979px) {
	.box .box-heading {
		padding-left:20px;
	}
	html[lang="es"] .product-compare a.button span {
		white-space: normal;
	}
	.box-category > ul li a, .box-content .afine li a, .box-content .info li a, .box-content .info-list li a, .box-content .acount li a, .manufacturer-list ul li a, .sitemap-info ul li a { 
		margin-left:18px;
		margin-right:6px;
	}
	.box-content .acount  li a, .box-content .afine  li a{
		margin: 0;
	}
	.box-content .acount  li , .box-content .afine  li {
		padding: 14px 6px 17px 18px;
	}
	/***/
	.cameraContent .camera_caption  h1 {
		font-size:45px;
		line-height:38px;
		margin-bottom:5px;
		}
	.cameraContent .camera_caption  h2 {
		font-size:27px;
		line-height:27px;	
		}
	.cameraContent .camera_caption  h3 {
		font-size:17px;
		line-height:17px;
		margin-bottom:9px;
		}
	.cameraContent .camera_caption > div > span {
		font-size: 12px;
		line-height: 13px;
		padding: 10px 17px 11px;
	}
	/**/
	.banner .s-desc h1{
		font-size:43px;
		line-height:43px;
		}
	.banner>div:first-child .s-desc h2{
		margin-top:3px;
		}
	.banner .s-desc span h1{
		margin-bottom:5px;
		}
	.banner .s-desc span h1{
		font-size:37px;
		line-height:37px;
		}
	.banner .s-desc small h1{
		font-size:20px;
		line-height:20px;
		}
	.banner .s-desc h2{
		font-size:20px;
		line-height:21px;
		}
	.banner .s-desc small h2{
		font-size:16px;
		line-height:13px;
		margin-bottom:4px;
		}
	.banner .s-desc p{
		font-size:9px;
		line-height:11px;
		}
	/**/
	.box-product .description, .product-grid .description{
		font-size:11px;
		line-height:14px;
	}
	.box-product .cart-button .cart {
		margin-right: 7px;
	}
	a.button.details span {
		padding-left: 18px;
		padding-right: 18px;
		}	
	/**/
	.box-product .inner, .product-grid .left, .box-product .inner1 {
		padding: 0 8px 20px 15px;
	}
	.product-grid .left{
		padding-bottom: 3px;
	}
	.product-grid .rating {
		margin-bottom: 0px;
	}
	.product-grid .compare{
		margin-right:0;
	}
	header .header-button {
		position: relative;
		z-index: 1001;
	}
	.left .price, .box-product .price{
		font-size:14px;
	}
	.left .price-old, .box-product .price-old{
		font-size:13px;
	}
	.box-product .price .price-new{
		margin-right:4px;
	}
	.box-product .name, .product-grid .name {
		padding-right: 20px;
	}
	.box-product.box-subcat .name {
		padding-right: 0;
	}		
	/****/
	footer h3{
		font-size:16px;
	}
	/**/
	footer li{
		padding-left: 2px;
	}
	/**/
	header #currency.header-button, header #language.header-button{
		margin-bottom:8px;
	}
	header #currency.header-button {
		margin-right: 0px;
	}
	/***/
	.compare-block .image{
		background-color:#fff;
		margin-bottom:10px;
		margin-right:0;
	}
	html[lang="de"] #compare .box-heading {
		font-size:14px;
	}
		
	.cart-button .compare{
		margin-left:0;
	}	
	
	li.related-info{
		width:172px !important;
		padding-right:10px;
	}
	.compare-info td img {
		max-width:95px;
	}
	.compare-info td a.button span {
		font-size:12px; 
		padding:7px 8px;
	}
	.login-content .form-horizontal .control-label{
		max-width:100%;
		text-align:left;
	}
	.login-content .form-horizontal .controls{
		margin-left:0px;
	}
	.related {
			padding: 0 81px
	}
	.product-filter .display {
		clear:both;
		float:none;
		width:100%;
		display:block;
		padding-top:10px;
	}
	footer .fa.fa-phone {display:none;}
	.login-content .heading h2 {
		font-size:13px;
		}
	.login-content .heading i {
		font-size:20px;
		}	
	.compare-block .image {
		float:none;
		text-align:center;
		}
}
/**********************************************/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
and (orientation:landscape) { 
	#full_gallery {display:block;}
	#default_gallery {display:none;}
	.box .box-content .box-product ul li:hover .quick-view-button {display:none !important; visibility:hidden; }
}
/**********************************************/
@media (max-width: 767px) {
	#content.right{
		float:none !important;
	}
	section .container {
		top:0;
	}
	.product-grid ul li {
		margin-bottom:15px;
	}
	#menu-gadget:before{
		margin:0 5%;
		width:90%;
	}	
	.product-grid ul li .left{
		padding:0;
		background:none;
	}
	aside .box .box-heading:after{
		background: url(../image/shadow-box-heading-cont.png) no-repeat center top / contain;
		bottom: -16px;
		height: 16px;
	}
	.banner.row{
		margin-left:0;
		margin-right:0;
	}
	.banner > div{
		width:32%;
		margin-left:2%;
		float:left;
		padding:0;
	}
	.banner > div:first-child{
		margin-left:0;
	}
	#powered {
		margin-bottom: 15px;
		border-top:1px solid #d0d0d0;
		padding-top: 10px;
		margin-top: 20px;
	}
	#content .box-product .cart-button {
		width:auto;
	}
	.product-info .description .option {
		margin-top: 5px;
	}
	header .top_color {
		padding: 65px 0 0;
	}
	.menu-top{
		top:0;
	}
	.menu-top .phone{
		display:none;
	}
	#powered > span {    
		float: none;
		width:100%;
	}
	.box-product .image2 a, .product-grid .image a, .box-product .image a {
		padding:10%;
	}
	.social {
		float: none;
	}
	header .header-button{
		display:none;
	}
	header #cart .heading span.link_a{
		min-width:0;
		padding-left:5px;
		border-left:1px solid #000;
		padding-bottom:0;
		height:50px;
	}
	header #cart .heading span.link_a i.fa-shopping-cart{
		padding-left:5px;
	}
	#menu-gadget {
		margin-top: 25px;
		margin-bottom: 30px;
	}
	.logg{
		display:none;
	}
	.top-search{
		line-height:53px;
		height:50px;
	}
	header .container  #logo {
		margin: 0 0 20px;
	}
	.social ul{
		padding-left:0;
	}	
	aside .box .box-content{
		padding-bottom:20px;
	}
	aside .box .box-content .box-product ul > li{
		margin-left:auto;
		margin-right:auto;
		margin-bottom:0;
	}
	#tab-review .form-inline .radio {
		display:inline-block;
		padding-left:0;
	}
	#tab-review input[name="captcha"]{
		margin-bottom:10px;
	}
	.related {
		max-width:170px;
		padding-left:0;
		padding-right:0;
		margin-left:auto;
		margin-right:auto;
	}
	aside .box .box-heading{
		background:#fff;
		color:#333;
		padding: 15px 15px 15px 20px;
		margin-bottom: 20px;
	}	
	aside .box.specials .box-heading, aside .box.new-products .box-heading, aside .box.bestsellers .box-heading {
		margin-bottom: 20px;
	}
	aside .box.specials .box-heading i, aside .box.new-products .box-heading i, aside .box.bestsellers .box-heading i{
		color:#fff;
		margin-bottom: 20px;
	}
	aside .box.specials .box-heading:hover i, aside .box.new-products .box-heading:hover i, aside .box.bestsellers .box-heading:hover i{
		color:#333;
	}
	#cart .heading span.link_a i.fa.fa-shopping-cart{
		font-size:26px;
		color:#fff;
		line-height:50px;
		height:50px;
		}
	#cart .heading span.link_a {
		line-height:50px;
		border-radius:0
		}
	header #cart.active .content {
		top:50px
		}
	#powered {
		text-align:center;
		}
	aside #compare {
		display:none !important;
		}
	#full_gallery {
		display:block;
		}
	#default_gallery {
		display:none;
		}
	.tabs .tab-heading:hover {
		cursor:pointer;
		}
	.tabs .tab-content {
		display:none;
		}
	#content {
		margin-bottom:20px;
		}
	.box {
		margin-bottom:15px; 
		padding-bottom:0;
	}	
	.product-grid .name {
		height:auto;
		}
	.product-list .description {
		display:none;
		}
	.product-info h1 {display:none;}
	.product-info h1.view {display:block;}
	.product-filter .display {display:none;}
	.box .box-heading {margin-bottom:15px;}
	.box .box-content .box-product ul li:hover .quick-view-button {display:none !important; visibility:hidden; opacity:0}
	#compare-total  {
		display:none;
		}
	#content .box-product li:first-child {
		border-top:0;
	}
	#content .box-product li {
		border-top:1px solid #d0d0d0;
		margin-bottom:20px !important;
		padding-top:20px;
		}
	#content .related .box-product li {
		border-top:none;
		margin-bottom:0 !important;
		padding-top:0;
		}
	#content .subcat .box-product li {
		margin-bottom: 5px !important;
		padding-top: 0;
	}
	.box .box-content{
		overflow:hidden;
	}
	.related .cart-button .compare, .related .cart-button .wishlist {
		display:inline-block;
	}
	aside > div {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		padding-top: 0;
	}	
	footer > div:first-child {display:none;}
	footer {padding:0; border-top:none; margin-top:0;}
	header #logo {margin:78px 0 29px 10px}
	.cart-position {
	  position:fixed;
	  top:0;
	  right:0px;
	  margin:0;
	  z-index:101;
	  }
	/*********************** box product *************************/
	#content .box-product  .image2{
		float:left;
		width:30%
		}
	#content .box-product .inner {
		width:58%;
		float:left;
		margin-left:30px;
		margin-bottom:5px;
		padding:0;
		background:none;
		}
	#content .box-product li{
		margin-bottom:30px;
		}
	/*********************** search *************************/
	#search {
		position:fixed;
		top:50px;
		left:0px;
		z-index:101;
		display:none;
		width:100%;
		margin:0;
		z-index:10;
		}
	#search .button-search i {
		padding: 0;		
	}
	#search .inner {
		padding:4px 5px;
		background-color:#2e2e2e;
		overflow:hidden;
		position:relative;
		}
	#search input {
		width:100%;
		max-width:none;
		border-radius:4px;
		box-shadow:inset 0 0 11px rgba(0,0,0,0.22);
		height:44px;
		padding:10px 40px 10px 10px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
		}
	#search .button-search {
		padding:10px 12px;
		position:absolute;
		top:7px;
		right:10px;
		background-image:none;
		color:#fff;
		background:#333;
		border-color:#333;
		border-radius:34px;
		-moz-border-radius:34px;
		-webkit-border-radius:34px;
		}
	#search .button-search:hover {color:#7e7e7e}
	/******************* Cart *******************************/
	.cart-position #cart .heading span.link_a b, .cart-position #cart .heading span.link_a i.fa.fa-angle-down {
		display:none;
	}
	header .cart-big{
		margin-top:3px;
		margin-left:10px;
		max-height:45px;
		background-size:contain;
		width:50px;
	}
	header #cart-total {
		font-size: 12px;
		height: 25px;
		line-height: 25px;
		margin: 13px 0 0 6px;
		width: 25px;
	}
	.cart-position{
		min-width:83px;
		}
	.cart-position #cart .heading span.link_a #cart-total2 {
		display:none;
		}
	header #cart.active .content {
		display: block;
		}
	.toprow-1 .cart-position {display:block; margin:0;}
	/*******************************************************/
	aside .box .box-content {display:none;}
	aside .box-heading:hover {
		cursor:pointer;
		}
	.box-heading i {
		float:right;
		font-size:14px;
		line-height:22px;
		color:#777;
	  }
	aside .box-product .name {height:auto !important;}
	/*************************swipe menu***************************/
	.swipe-control i {font-size:26px; color:#fff; line-height:50px;}
	.swipe-control:hover i {text-decoration:none;}
	.swipe-control {
		display: block;
		height: 50px;
		width: 64px;
		z-index: 100;
		text-align:center;
		border-right:1px solid #000;
		float:left;
	}
	body #page {
		height:100%
		}

	body.ind div.shadow{
		left:0;
		top:0;
		display:block;
		width:100%;
		height:100%;
		position:absolute;
		background:url("../image/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
		z-index:99;
		opacity:0.7
		}
	body.ind #page {
		margin-left: 237px;
		width:100%;
		position:fixed;
		left:0;
		top:0;
		z-index:2
		}
	body #body .swipe .swipe-menu{
		background-color: #fff;
		height:100%;
		overflow:scroll;
		
		}
	body #body .swipe {
		display:none;
		}
	body.ind #body .swipe {
		display:block;
		background-color:#f7f7f7;
		position:fixed;
		color:#777;
		width:237px;
		top:50px;
		left:0px;
		z-index:100;
		overflow:hidden;
		z-index:101;
		}
	header .toprow {display:none;}
	header .toprow-1 {display:block;}

	/********************************************/
	
	#livesearch_search_results {
		display:none !important; 
		}
	/************************************ product list ****************************************************/
	.product-list ul li .image {
		width:30%;
		float:left;
		}
	.product-list ul li .left {
		width:65%;
		float:left;
		margin-left:5%;
		}
	/********************************  product grid ***********************************************************/
	.product-grid ul li {
		overflow:hidden;
		}
	.product-grid ul li .image {
		width:30%;
		float:left;
		}
	.product-grid ul li .left {
		width:65%;
		float:left;
		margin-left:5%;
		}

	/************************************** box-category ********************/
	.box-product.box-subcat li {
		height:auto !important;
		overflow:hidden;
		}
	.box-product.box-subcat li .image {
		float:left;
		width:30%;
		max-width:170px;
		}
	.box-product.box-subcat li .name {
		width:65%;
		float:left;
		margin-left:5%;
		}  

	/********************************************************/
	.order-list .order-info {
		text-align:left;
		}
	.order-content{
		padding-top:0;
		}
	.order-content>div>div {
		margin-top:20px;
		}
}
@media (min-width: 556px) and (max-width: 690px) {	
	/**/
	.banner .s-desc {
		top: 50%;
		margin-top:-58px;
	}
	.banner .s-desc h1{
		font-size:43px;
		line-height:43px;
		}
	.banner>div:first-child .s-desc h2{
		margin-top:3px;
		}
	.banner .s-desc span h1{
		margin-bottom:5px;
		}
	.banner .s-desc span h1{
		font-size:37px;
		line-height:37px;
		}
	.banner .s-desc small h1{
		font-size:20px;
		line-height:20px;
		}
	.banner .s-desc h2{
		font-size:20px;
		line-height:21px;
		}
	.banner .s-desc small h2{
		font-size:16px;
		line-height:13px;
		margin-bottom:4px;
		}
	.banner .s-desc p{
		font-size:9px;
		line-height:11px;
		}
	/**/
}
/*******************************************/
@media (min-width: 481px) and (max-width: 620px) {
	/***/
	.cameraContent .camera_caption  h1 {
		font-size:45px;
		line-height:38px;
		margin-bottom:5px;
		}
	.cameraContent .camera_caption  h2 {
		font-size:27px;
		line-height:27px;	
		}
	.cameraContent .camera_caption  h3 {
		font-size:17px;
		line-height:17px;
		margin-bottom:9px;
		}
	.cameraContent .camera_caption > div > span {
		font-size: 12px;
		line-height: 13px;
		padding: 10px 17px 11px;
	}
}
/******************************************************/
@media (max-width: 555px) {
	/**/
	.banner .s-desc h1{
		font-size:72px;
		line-height:72px;
		}
	.banner>div:first-child .s-desc h2{
		margin-top:5px;
		}
	.banner .s-desc span h1{
		margin-bottom:8px;
		}
	.banner .s-desc span h1{
		font-size:61px;
		line-height:61px;
		}
	.banner .s-desc small h1{
		font-size:33px;
		line-height:33px;
		}
	.banner .s-desc h2{
		font-size:34px;
		line-height:35px;
		}
	.banner .s-desc small h2{
		font-size:26px;
		line-height:22px;
		margin-bottom:7px;
		}
	.banner .s-desc p{
		font-size:13px;
		line-height:19px;
		}
	
	.banner.row{
		margin:0 0 20px;
	}
	.banner > div{
		text-align:center;
		margin-bottom:20px;
		width:100%;
		margin-left:0;
	}
	.banner > div a{
		display: inline-block;
	}
	/**/
	.content-border h2{
		margin-bottom:20px;
		}
	.content-border {
		border:0;
		padding:0px;
		margin-bottom:0px;
		}
	.checkout .checkout-product .table td {
		font-size:12px !important;
		padding:4px 2px !important;
		}
	.product-list .cart-button {
		position:static;
		float:none;
		margin:10px 0 0 0
		}
	.shop-cart .table.table-bordered {
		border:0
		}
	.shop-cart .table {display:block;width:100%}
	.shop-cart .table thead {display:none;}
	.shop-cart .table tbody {
		display:block;
		border:0;
		}
	.shop-cart .table tbody tr {
		display:block;
		margin-bottom:30px; 
		border:1px solid #d7d7d7;
		border-bottom:0;
		}
	.shop-cart .table tbody td {
		display:block;
		text-align:center;
		border:0;
		border-bottom:1px solid #d7d7d7;
		}
}

/******************************************************/
@media (max-width: 515px) {
	img#captcha {
		margin-left:0px;
	}	
}
/**********************************/
@media (max-width: 480px) {
	.product-list .cart, .product-list .wishlist, .product-list .compare {
		margin-bottom: 10px;
	}
	.checkout .checkout-product .table td {
		font-size:10px !important;
		padding:4px 2px !important;
		}
	/**/		
	.camera_prev, .camera_next, .cameraContents .camera_caption > div > span{
		display:none;
	}
	.cameraContent .camera_caption{
		top:50%;
		margin-top:-35px;
	}
	.cameraContents .camera_caption  h1 {
		font-size:25px;
		line-height:27px;
		margin-bottom:4px;
		}
	.cameraContents .camera_caption  h2 {
		font-size:17px;
		line-height:20px;	
		}
	.cameraContents .camera_caption  h3 {
		font-size:12px;
		line-height:14px;
		margin-bottom:0;
		}
}
/******************************************************/
@media (max-width: 440px) {
	.login-content .heading i {
		font-size:30px;
		}
	.login-content .heading h2 {
		font-size:13px;
		}
	.checkout-content {
		padding:10px
		}
	header #cart.active .content {
		height:250px;
		}
	header #cart.active .content .content-scroll {
		height:100%;
		overflow:scroll;
		webkit-overflow-y:scroll
		}
	.cart-bottom .buttons .center {text-align:right;}
}
/******************************************************/
@media (max-width: 410px) {
	.product-info .review img {
		margin-bottom:10px;
		float:none;
		}
	.product-info .review .btn-rew {
		float:none;
		}
	.product-filter .sort {
		float:none;
		}
	.product-filter .limit {
		float:none;
		margin:10px 0 0 0;
		}
	.account-forgotten .content .form input{
		width:220px;
	}
}
/***********************************************************/
@media (max-width: 372px) {
	a.button-prod {
		margin-left:0;
	}
	.checkout-content .name a{
		font-size:12px;
	}
}